<div class="moneyListContainer {{classProperty}} ">

  <mat-card class="listItem" *ngFor="let expense of expenses;">
    <div class="expenseDetails">
      <div class="expenseContent">
        <div class="expenseName">
          <h3>{{expense.name}}</h3>
        </div>
        <div class="expenseExtraInfo">
          <span>Total paid: <span class="expenseInfo">{{expense.totalPaid}}</span></span>
          <span>Provider: <span class="expenseInfo">{{expense.provider}}</span></span>
          <span>Category: <span class="expenseInfo">{{expense.categoryData.name}}</span></span>
        </div>
      </div>

    </div>

    <div class="itemActions">

      <button (click)="editExpense(expense)">
        <i class="material-icons">edit</i>
      </button>

      <button (click)="deleteExpense(expense._id)">
        <i class="material-icons">delete</i>
      </button>

    </div>

  </mat-card>
</div>
