<div class="loginContainer">

  <mat-card>
    <div class="titleContainer">
      <h3>Please log in</h3>
    </div>

    <div class="loginButton loginWithGoogle">
      <button (click)="loginWithGoogle()" mat-raised-button color="warn">
        <i class="material-icons">account_circle</i>
             Login with google
      </button>
    </div>

    <div class="formContainer">

      <form name="loginForm" [formGroup]="loginForm" class="loginForm">
        <mat-form-field class="example-full-width">
          <input autocomplete="off" formControlName="email" required matInput placeholder="Email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input autocomplete="off" formControlName="password" type="password" required matInput placeholder="Password">
        </mat-form-field>
      </form>

      <div class="loginButton">
        <button [disabled]="loginForm.invalid" (click)="loginWithEmailAndPassword()" mat-raised-button color="primary">
          <button-loading *ngIf="loginLoading"></button-loading>
          Login in
        </button>
      </div>
    </div>

    <div class="registrationTextContainer">
      <div class="registrationText">
        <span>Dont have an account?</span>
        <a routerLink="/registration">Sign up</a>
      </div>
    </div>

  </mat-card>
</div>
