<div class="timeInterval">

  <div class="timeNav">
    <button class="decreaseDateButton" (click)="changeDate('decrease')"></button>
    <span>{{currentDayString}}/{{currentMonth}}/{{currentYear}}</span>
    <button class="increaseDateButton" (click)="changeDate('increase')"></button>
  </div>

  <nav mat-tab-nav-bar>
    <a mat-tab-link
       routerLink="{{buttonRoutes.dayview}}"
       [routerLinkActiveOptions]="{exact: false}"
       routerLinkActive #dayViewRouter="routerLinkActive"
       [active]="dayViewRouter.isActive">
      Day view
    </a>

    <a mat-tab-link
       routerLink="{{buttonRoutes.weekview}}"
       [routerLinkActiveOptions]="{exact: false}"
       routerLinkActive #weekViewRouter="routerLinkActive"
       [active]="weekViewRouter.isActive">
      Week view
    </a>
  </nav>
</div>
