<div class="appViewsContainer">
  <div class="appViewNavBar">
    <nav mat-tab-nav-bar>
      <a mat-tab-link
         routerLink="/app/tasks/dayview"
         [active]="checkIfChildRouteIsActive()">
        Tasks
      </a>
      <a mat-tab-link
         routerLink="/app/money/dayview"
         [routerLinkActiveOptions]="{exact: false}"
         routerLinkActive #moneyRouter="routerLinkActive"
         [active]="moneyRouter.isActive">
        Money
      </a>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>
