<div class="appInfoContainer">
    <div class="appHeader">

      <div class="appName">
        <h2 class="mat-h2">
          <i class="material-icons">list_alt</i>
          Organizer
        </h2>
        <div class="rightBorder"></div>
      </div>

      <div class="userInfoContainer">
        <div class="userPicture">
          <img [src]="imagePath">
        </div>
        <div class="userDisplayName">
          <span>{{user.name}}</span>
        </div>
        <div class="userSettings" [matMenuTriggerFor]="menu">
          <i class="material-icons">
            settings
          </i>
          <mat-menu class="settingsMenu" #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>

        <div (click)="logOut()" class="logout">
          <i class="material-icons">
            power_settings_new
          </i>
        </div>
      </div>

  </div>
  <app-views></app-views>
</div>
