
.appInfoContainer {
  font-size: 20px;
  .appHeader {
    line-height: 70px;
    margin: 0 0 5px 5px;
    max-height: 70px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    .appName {
      display: flex;
      .rightBorder{
        -webkit-transform: rotateZ(10deg);
        transform: rotateZ(10deg);
        width: 15px;
        position: relative;
        z-index: 2;
        height: 72px;
        margin-top: -1px;
        margin-bottom: -2px;
      }
      h2 {
        margin: 0 -7px;
        padding: 0 22px;
        color: white;
        line-height: 70px;
        display: flex;
        align-items: center;
        i {
          margin-right: 5px;
          font-size: 40px;
        }
      }
    }
    .userInfoContainer {
      line-height: normal;
      display: flex;
      align-items: center;
      cursor: pointer;
        .userPicture {
          display: flex;
          align-items: center;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }
      .userDisplayName {
        margin: 0 10px;
        color: white;
        font-size: 20px;
      }
      .userSettings, .logout {
        display: flex;
        align-items: center;
        margin: 0 5px;
        .material-icons {
          color: white;
          font-size: 30px;
        }
        &:hover {
          background-color: #1c1773;
          cursor: pointer;
        }
      }
    }

  }
}
