<h2 mat-dialog-title> {{operation === 'edit' ? 'Edit expense': 'Add expense'}}</h2>

<mat-dialog-content class="mat-typography">
  <form name="taskForm" [formGroup]="formExpense" class="example-form">
    <mat-form-field class="example-full-width">
      <input required formControlName="expenseName" matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input required formControlName="expenseTotalPaid"  matInput placeholder="Total paid">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input required formControlName="expenseProvider"  matInput placeholder="Provider">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input required formControlName="expenseCategory"  matInput placeholder="Category">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="expenseDate" [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button *ngIf="operation === 'edit'" mat-button [disabled]="formExpense.invalid" (click)="saveExpense()" cdkFocusInitial>Save</button>
  <button *ngIf="operation === 'add'" mat-button [disabled]="formExpense.invalid" (click)="addExpense()" cdkFocusInitial>Add</button>
</mat-dialog-actions>
