@import '~@angular/material/theming';
@import "../../../../variables";

.registrationContainer {
  background: mat-color($loginAndRegistrationPageBackground, 500);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  mat-card {
    background-color: mat-color($my-dark-blue, 500);
    width: 400px;
    border-radius: 15px;
    padding: 0;
    color: white;
    .titleContainer {
      background-color: mat-color($my-dark-blue, 900);
      display: flex;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      justify-content: center;
    }
    .registerButtonContainer {
      display: flex;
      justify-content: center;
      margin: 50px 0;
      .mat-raised-button {
        font-size: 20px;
        width: 300px;
        color: white;
      }
    }
    .formContainer {

      margin: 25px 0;
      .registrationForm {
        display: flex;
        align-items: center;
        flex-direction: column;
        .mat-form-field {
          width: 300px;
          line-height: 40px;
          margin-bottom: -15px;
          .mat-input-element {
            caret-color: black;
            color: black;
            height: 40px;
            border-radius: 5px;
            background: white;
          }
          .mat-form-field-label {
            color: black;
            margin-left: 10px;
          }
          .mat-form-field-underline {
            background: transparent;
          }
        }
        .checkboxContainer {
          width: 300px;
          padding: 10px 0;
          .mat-checkbox {
            display: block;
            .mat-checkbox-frame {
              border: none;
              background: white;
            }
          }
        }
      }
    }
  }
}

.lds-ring {
  position: relative;
  left: 40px;
  width: 25px;
  height: 25px;
  z-index: 1;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
